<header id="main_cover" class="clearfix u band" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
  <%= link_to "Monika Piechatzek", root_path, class: "name", method: :get %>
      <nav>
        <%= link_to "portfolio", posts_path, method: :get   %>
        <%#= link_to "ux/ui", uxs_path, method: :get   %>
        <%= link_to "resume", resumes_index_path %>
        <a href="contact.html">contact</a>
      </nav>
      <div class="title" data-0="opacity: 1" data-180="opacity: 0">Junior Full-Stack Web Developer</div>


  </header>
<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>about</h2>
        <hr>
        <p>
          I'm a junior full-stack web developer living in
          Vancouver, British Columbia.
        </p>
        <p>
          I do a lot of coding in my free time and lately
          have been open to the idea of working for a company
          in order to expand my knowledge.
        </p>
        <p>
          My story started out at <a href="#">Thompson Rivers University</a>
          where I decided to take a science credit course, Intro to Programming,
          for my Bachelor of Arts degree. I immediately realized
          that this was something I should be doing instead. Now
          web development is a passion of mine and I eventually
          want to create successful iphone apps.
        </p>
      </div>
        <div class="col-2 homepage_content">

              <img src="<%= asset_path( 'mac.png' ) %>" alt="" />
              <!-- <h2>formal education</h2>
              <hr>
              <h3>Thompson Rivers University</h3>
              <p class="date">
                Bachelor in Computing Science
                September 2013 - Present
              </p>
              <h3>Codecode Web Development Bootcamp</h3>
              <p class="date">
                Certificate in Web Development
                October 2015 - December 2015
              </p>
              <h3>British Columbia's Institute of Technology</h3>
              <p class="date">
                Applied Web Development Program
                September 2014 - July 2015
              </p>
              <h3>Thompson Rivers University</h3>
              <p class="date">
                Bachelor in Arts, Major in Psychology
                September 2007 - June 2014
              </p> -->

        </div>
      </div>




    <div class="banners">
      <div class="inside_banner">
        <header>
          <h2>Skill Set</h2>
          <hr>
          <p class="date">
            Languages, Frameworks & Programs that I've gotten along with
          </p>
        </header>
      </div>
    </div>

    <div class="skill-set">
      <h3>main squad</h3>
        <div class="transitions-enabled centered clearfix masonry" id="mini-skills">
          <div class="skill box panel panel-default">
            Javascript
          </div>

        <div class="skill box panel panel-default">
          HTML
        </div>

        <div class="skill box panel panel-default">
          CSS
        </div>

        <div class="skill box panel panel-default">
          Bootstrap
        </div>

        <div class="skill box panel panel-default">
          Ruby
        </div>

        <div class="skill box panel panel-default">
          Ruby on Rails
        </div>

        <div class="skill box panel panel-default">
          SQL
        </div>

        <div class="skill box panel panel-default">
          Github
        </div>
      </div>
    <h3>aquaintances</h3>
      <div class="transitions-enabled centered clearfix masonry" id="mini-skills2">

        <div class="skill box panel panel-default">
          AJAX
        </div>

        <div class="skill box panel panel-default">
          Google Maps API
        </div>

        <div class="skill box panel panel-default">
          PHP
        </div>

        <div class="skill box panel panel-default">
          Java
        </div>

        <div class="skill box panel panel-default">
          Postgresql
        </div>

        <div class="skill box panel panel-default">
          Heroku
        </div>
      </div>
    </div>






<div class="col-3 homepage_content">
  <div class="banners">
    <div class="inside_banner">
      <header>
        <h2>portfolio</h2>
        <hr>
          <p class="date">
            some demo apps to prove i'm not lying
          </p>
      </header>
    </div>
  </div>

  <div class="transitions-enabled image_link" id="posts">
    <% @posts.each do |post| %>
      <div class="box panel panel-default">
        <div class="panel-body">
            <div class="brightness">
            <%= image_tag post.image.url(:medium) %>
            <h3><a href="#"><%= link_to post.title, post %></a></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- </div> -->

<!-- <h3><a href="#">pin board</a></h3>
<p class="date">
Bachelor in Computing Science
September 2013 - Present
</p>-->
<!-- <h3><a href="#">hair stylist demo website</a></h3>
<p class="date">
Certificate in Web Development
October 2015 - December 2015
</p>
<h3><a href="#">ticket stopper</a></h3>
<p class="date">
Applied Web Development Program
September 2014 - July 2015
</p>
<h3><a href="#">drillr</a></h3>
<p class="date">

</p> -->

    <div class="banners">
      <div class="inside_banner">
        <header>
          <h2>Reviews</h2>
          <hr>
          <p class="date">
            These are real people that i didn't force to say nice things about me
          </p>
        </header>
      </div>
    </div>

    <div class="quotes">

          <blockquote cite="https://www.linkedin.com/in/monikapiechatzek?trk=nav_responsive_tab_profile_pic" class="block-one">
        I had the pleasure of knowing Monika at CodeCore where we learn about web development for 9 weeks (12 hours per day and 5 days a week). Working with Monika on our exercises is always a delight because she has great ideas, smart and easy to get along with. Her passion on learning new things no matter how challenging it is will be her greatest asset in the team she will be part of. I wish her all the best in her future endeavours.
      <p>
        - Ivy Rubi-Olamit, Web Developer
      </p>
        </blockquote>

        <blockquote cite="https://www.linkedin.com/in/monikapiechatzek?trk=nav_responsive_tab_profile_pic" class="block-two">
          I worked with Monika during a group project at the CodeCore bootcamp.
          <br> She was an integral asset to the front-end component of our project and has an excellent sense of design. I would love to work with her again in the future.
          <p>
            - Alex Taylor, Developer at Brewhouse.io
          </p>
        </blockquote>

    </div>
