<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Monika Piechatzek - Junior Software Developer Portfolio</title>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>
<% unless current_page?(root_path)  %>
<%= render 'layouts/cover' %>
<% end %>

<%= yield %>

  <footer id="main_footer">
    <p class="copyright">
      &copy; 2017 Monika Piechatzek
    </p>
    <nav>
      <a href="https://twitter.com/piechatzek_" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/monikapiechatzek" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/m-piechatzek" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>

</body>
</html>
